.hidden {
    display: none !important;
}

#client-status:not(.text-success-emphasis) {
    cursor: default;
}

#client-status.text-success-emphasis {
    /*cursor: pointer;*/
    cursor: default;
}

#client-status {
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-height: 2.2rem;
}

#client-status__badge::before {
    margin-right: 0.2rem;
}

#spinner {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#spinner > div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#spinner > div > span {
    font-size: 1.5rem;
    padding-left: 1rem;
    cursor: default;
}

#spinner > div > div {
    margin: 50% 0 0 50%;
}

.open-orders__hull > div > span {
    padding: 1rem;
}

.open-orders__hull > div {
    padding: 1rem;
    border-radius: 1rem;
    /*display: flex;*/
    margin-bottom: 1rem;
}

.open-orders__hull > div:not(.success):not(.error) {
    background-color: rgba(128, 128, 128, 0.44);
}

.open-orders__hull > div.success {
    background-color: rgba(0, 128, 0, 0.53);
}

.open-orders__hull > div.error {
    background-color: rgba(255, 0, 0, 0.53);
}

#submitExchange {
    padding: 0.1rem;
    background-color: #caf1ca;
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
}
